PORT=5000
AFFORDMED_EMAIL="your-university-email@abc.edu"
AFFORDMED_NAME="Your Name"
AFFORDMED_ROLL_NO="your-roll-no"
AFFORDMED_ACCESS_CODE="your-access-code"
AFFORDMED_CLIENT_ID="your-client-id"
AFFORDMED_CLIENT_SECRET="your-client-secret"
